.panel-heading {
  font-size: 2.65rem;
}

.panel-heading:hover {
  cursor: pointer;
}

.panel {
  margin-bottom: 10px;
}

.panel-collapse > .panel-body {
  font-size: 1.9rem;
}

/*
.even > .panel-heading {
  background-color: #132657;
  color: #D9BB6E;
}

.even > .panel-collapse > .panel-body {
  background-color: rgb(44.96, 61.87, 105.48);
  color: #D9BB6E;
  border-top-color: rgb(44.96, 61.87, 105.48);
}

.odd > .panel-heading {
  background-color: #D9BB6E;
  color: black;
}

.odd > .panel-collapse > .panel-body {
  background-color: #E5D19D;
  color: black;
  border-top-color: #E5D19D;
}*/
