<div class="container-fluid">
  <div class="row-eq-height">
    <div class="indented">
    <h1 class="regH">FAQ</h1>
    </div>
  </div>
</div>

<div id="accordion" class="panel-group">
  <div class="indented">
  <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
      <h4 class="panel-title">
        1. Will I receive a formal invitation if I received a Save the Date?
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Yes! We will be sending out formal invitation at the end of summer. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default even">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
      <h4 class="panel-title">
        2. Can I bring a date?
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Please only bring a date if your formal invitation indicates that you have a plus one! </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
      <h4 class="panel-title">
        3. Will the reception have an open bar?
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Yes!</p>
      </div>
      </div>
    </div>
  </div>
</div>
