h3 {
  font-size: xx-large;
  text-align: center;
  font-family: "Andale Mono", serif;
}

p {
  text-align: center;
  font-family: "Andale Mono", serif;
}

h2 {
  text-align: center;
  font-family: "Andale Mono", serif;

  font-size: large;
}
