h3 {
  font-size: xx-large;
  font-family: "Andale Mono", serif;
}

p {
  font-family: "Andale Mono", serif;
}

h2 {
  font-family: "Andale Mono", serif;
  font-size: large;
}

.indented {
  margin-left: 6%;
}

.regH{
  font-family: Bilbo, cursive;
  font-size: 6rem;
}
