<div class="indented regH">FAQ</div>

<div id="accordion" class="panel-group">
  <div class="indented">

  <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
        1. Will I receive a formal invitation if I received a Save the Date?
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Yes! We will be sending out formal invitations at the end of summer.
      </div>
    </div>
  </div>

   <div class="panel panel-default even">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
        2. When will the registry page be available?
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        It is live! The couple has registered at three locations; if you have any issues please contact Tyler.
      </div>
    </div>
  </div>

   <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
        3. Will the reception have an open bar?
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Yes we will be serving beer and wine!
      </div>
      </div>
    </div>

    <div class="panel panel-default even">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
        4. What is the dress code?
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          Semi-Formal.
        </div>
      </div>
    </div>

    <div class="panel panel-default odd">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
        5. When is the reception?
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          There will be a cocktail hour at 5:00 (immediately following the ceremony) and dinner is anticipated to be served around 6:30.
        </div>
      </div>
    </div>

    <div class="panel panel-default even">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
        6. When are RSVPs due?
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          We ask that you submit your RSVP, online or by mail, by October 11th.
        </div>
      </div>
    </div>

    <div class="panel panel-default odd">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
        7. Will parking be available?
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">

        </div>
      </div>
    </div>

    <div class="panel panel-default even">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
        8. Can I bring my children?
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          You are of course allowed to bring your children, but we would love for you to have a night out on us!
        </div>
      </div>
    </div>

    <div class="panel panel-default odd">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
        9. Can I bring a date?
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          In order to keep our guest list you can only bring a guest if you were given one on your RSVP. You can always
          check your RSVP on this very site using the code on your invitation.
        </div>
      </div>
    </div>

    <div class="panel panel-default even">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">
        10. How do I submit as not attending online?
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          In order to let us know you won't be able to come enter your code from the reservation into the RSVP form and
          submit the form without clicking the coming checkbox.
        </div>
      </div>
    </div>

  </div>
</div>
