<div class="container-fluid">
  <div class="row-eq-height">
    <div class="indented">
    <h1 class="regH">FAQ</h1>
    </div>
  </div>
</div>

<div id="accordion" class="panel-group">
  <div class="indented">
  <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
      <h4 class="panel-title">
        1. What should I wear to the wedding?
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You should wear clothes, preferably.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default even">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
      <h4 class="panel-title">
        2. Where and when is this grand wedding between the two love birds?
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The wedding information is on the home page, bud.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default odd">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
      <h4 class="panel-title">
        3. What will be served for dinner?
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>I really don't know the answer, sorry friend.</p>
      </div>
      </div>
    </div>
    <div class="panel panel-default even">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
        <h4 class="panel-title">
          3. What will be served for dinner?
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>I really don't know the answer, sorry friend.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default odd">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
        <h4 class="panel-title">
          3. What will be served for dinner?
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>I really don't know the answer, sorry friend.</p>
        </div>
      </div>
    </div>
  </div>
</div>
