.regH{
  font-family: Bilbo, cursive;
  font-size: 6rem;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-family: Bilbo, cursive;
  margin-bottom: 30px;
}

.img {
  width: 100%;
  height: 400px;
  margin-bottom: 0.5%;
}

.table {
  display: table;
}

.row-eq-height {
  display: table-row;
  margin: 0;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.col-sm-1 {
  float: none;
  display: table-cell;
  width: 16.66666%;
  height: 100%;
}

.col-sm-2 {
  float: none;
  display: table-cell;
  width: 33.3333333%
}

.indented {
  margin-left: 6%;
  margin-right: 6%;
}

.title {
  font-size: 3vw;
  font-family: Bilbo, cursive;
}

.name {
  font-size: 2.5vw;
  font-family: "Andale Mono";
}

.left {
  display: none;
}

.half-row {
  display: contents;
}

td {
  font-family: "Andale Mono";
  font-size: 1.5em;
}

@media(max-width: 767px){
  .row-eq-height {
    display: inline-block;
    margin: 0;
  }

  br {
    display: none;
  }

  .col-sm-1 > br {
    display: block;
  }

  .col-sm-1 {
    width: 33%;
  }

  .col-sm-2 {
    width: 66%;
    padding-bottom: 20px;
  }

  .right {
    display: none;
  }

  .left {
    float: none;
    display: table-cell;
    width: 33%;
    height: 100%;
  }

  .title {
    font-size: 6vw;
  }

  .name {
    font-size: 4.75vw;
  }

  .half-row {
    display: table-row;
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin: 0 0 20px;
  }
}

