<div class="container-fluid">
  <h1>Wedding Party</h1>
</div>

<br>

<div class="table">
  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Maid of Honor</span><br/><span class="name">Jane Doe</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Best Man</span><br/><span class="name">Jim Doe</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Best Man</span><br/><span class="name">Jim Doe</span></div>
    </div>
  </div>

  <br><br>

  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Bridesmaid</span><br/><span class="name">Noodle McDoodle</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Groomsman</span><br/><span class="name">Ugly Nobody</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Groomsman</span><br/><span class="name">Ugly Nobody</span></div>
    </div>
  </div>

  <br><br>

  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Bridesmaid</span><br/><span class="name">UofL Cardinals</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Groomsman</span><br/><span class="name">Duke Bluedevils</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Groomsman</span><br/><span class="name">Duke Bluedevils</span></div>
    </div>
  </div>

  <br><br>

  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Bridesmaid</span><br/><span class="name">Ohio St. Buckeyes</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Groomsman</span><br/><span class="name">Indiana Pacers</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Groomsman</span><br/><span class="name">Indiana Pacers</span></div>
    </div>
  </div>
</div>
