<div class="container-fluid">
  <h1>Wedding Party</h1>
</div>

<br><br>

<table style="width: 100%">
  <tr>
    <td align="center" class="col-sm-1">Maid of Honor<p>Sarah Bryant</p></td>
    <td class="col-sm-2" align="left"><img mat-card-image class="img" src="../../assets/websizephotos/sarah_maidofhonor.png" alt="" height="250" width="200"></td>
    <td class="col-sm-2" align="right"><img mat-card-image class="img" src="../../assets/websizephotos/hunter_bestman.png" alt="" height="250" width="200"></td>
    <td class="col-sm-1" align="center">Best Man<p>Hunter Boschert</p></td>
  </tr>

  <br><br>

  <tr>
    <td align="center" class="col-sm-1">Bridesmaid<p>Audreanna McClain</p></td>
    <td class="col-sm-2" align="left"><img mat-card-image class="img" src="../../assets/websizephotos/audreanna_bridemaid.jpg" alt="" height="250" width="200"></td>
    <td class="col-sm-3" align="right"><img mat-card-image class="img" src="../../assets/websizephotos/jacob_groomsman.jpg" alt="" height="500" width="300"></td>
    <td class="col-sm-1" align="center">Groomsman<p>Jacob Berdichevsky</p></td>
  </tr>

  <br><br>

  <tr>
    <td align="center" class="col-sm-1">Bridesmaid<p>Ashley Holmes</p></td>
    <td class="col-sm-2" align="left"><img mat-card-image class="img" src="../../assets/websizephotos/ashley_bridesmaid.jpg" alt="" height="250" width="200"></td>
    <td class="col-sm-2" align="right"><img mat-card-image class="img" src="../../assets/websizephotos/jackson_groomsmen.jpg" alt="" height="250" width="200"></td>
    <td class="col-sm-1" align="center">Groomsman<p>Jackson Paul</p></td>
  </tr>

  <br><br>
</table>

