<div class="container-fluid">
  <h1>Wedding Party</h1>
</div>

<br>

<div class="table">
  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Maid of Honor</span><br/><span class="name">Sarah Bryant</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/sarah_maidofhonor.png" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Best Man</span><br/><span class="name">Hunter Boschert</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/hunter_bestman.png" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Best Man</span><br/><span class="name">Hunter Boschert</span></div>
    </div>
  </div>

  <br><br>

  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Bridesmaid</span><br/><span class="name">Audreanna McClain</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/audreanna_bridemaid.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Groomsman</span><br/><span class="name">Jacob Berdichevsky</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/jacob_groomsman.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Groomsman</span><br/><span class="name">Jacob Berdichevsky</span></div>
    </div>
  </div>

  <br><br>

  <div class="row-eq-height">
    <div class="half-row">
      <div class="col-sm-1"><span class="title">Bridesmaid</span><br/><span class="name">Ashley Holmes</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/ashley_bridesmaid.jpg" alt=""></div>
    </div>
    <div class="half-row">
      <div class="col-sm-1 left"><span class="title">Groomsman</span><br/><span class="name">Jackson Paul</span></div>
      <div class="col-sm-2"><img mat-card-image class="img" src="../../assets/websizephotos/jackson_groomsmen.jpg" alt=""></div>
      <div class="col-sm-1 right"><span class="title">Groomsman</span><br/><span class="name">Jackson Paul</span></div>
    </div>
  </div>
</div>
