<div id="content" style="text-align: left">

  <h2>Emily</h2>
  <p>
    Emily is currently completing her Masters
    in Business Administration
    from Bellarmine University
    as well as studying to complete her Certified
    Accountant Exam. She has graduated with
    her Bachelors in Accounting from
    Bellarmine. She has accepted an
    offer from Ernst and Young to begin working
    in January 2019 as a tax associate.
  </p>

  <h2>Tyler</h2>
  <p>
    Tyler is currently completing his Bachelors in Computer Engineering & Computer
    Science from the J.B. Speed School of Engineering at the University of Louisville.
    He is also getting a minor in Communications. Tyler has completed his Co-Ops for Speed
    School at Kentucky Farm Bureau Mutual Insurance Company. Tyler currently works at
    Opus Controls and the Speed School IT Help Desk. After school, Tyler plans to work
    for Opus Controls.
  </p>

  <h2>Mr. and Mrs.</h2>
  <p>
    Emily and Tyler met at New England United Methodist Church in elementary school. They
    began dating seriously November 23, 2012. Soon after Emily graduated with her Bachelors
    degree (January 27th, 2018 to be exact), Tyler took Emily to her favorite mexican
    restaurant in LaGrange, KY. While in LaGrange, Tyler suggested that the couple go visit
    the park where they used to spend time together while Emily was in high school. When
    they arrived, the gazebo in the park was surrounded with candles, rose petals, flowers,
    and champagne. Tyler had enlisted a few friends to help make this night as magical as
    possible. The couple slowly walked from the car to the gazebo where Tyler got down on one
    knee and asked Emily to marry him. She gave him a resounding YES!
  </p>

</div>
