<div class="regH">
  About Us
</div>

<div class="container-fluid">
  <div class="row-eq-height">
    <div class="col-sm-4">
      <div class="card">
        <div class="mat-card-header"><h2><b>Emily</b></h2></div>
        <img class="card-img-top" src="../../assets/websizephotos/Emily_AboutUs.png" alt="Emily About Us">
        <div class="card-body">

          Emily has her Masters in Business Administration and Bachelors in Accounting
          from Bellarmine University, as well as completed her Certified Public
          Accountant Exams. Emily has been working at Ernst and Young since January 2019.

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="mat-card-header"><h2><b>Mr. and Mrs.</b></h2></div>
        <img class="card-img-top" src="../../assets/websizephotos/Both_AboutUs.png" alt="Both About Us">
        <div class="card-body">
          Emily and Tyler met at New Castle United Methodist Church in elementary school. They
          began dating seriously November 23, 2012. Soon after Emily graduated with her Bachelors
          degree (January 27th, 2018 to be exact), Tyler took Emily to her favorite mexican
          restaurant in LaGrange, KY. While in LaGrange, Tyler suggested that the couple go visit
          the park where they used to spend time together while in high school. When
          they arrived, the gazebo in the park was surrounded with candles, rose petals, flowers,
          and champagne. Tyler had enlisted a few friends to help make this night as magical as
          possible. The couple slowly walked from the car to the gazebo where Tyler got down on one
          knee and asked Emily to marry him. She gave him a resounding YES!

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="mat-card-header"><h2><b>Tyler</b></h2></div>
        <img class="card-img-top" src="../../assets/websizephotos/Tyler_AboutUs.png" alt="Tyler About Us">
        <div class="card-body">
          Tyler is currently completing his Bachelors in Computer Engineering & Computer
          Science from the J.B. Speed School of Engineering at the University of Louisville.
          He is also getting a minor in Communications. Tyler has completed his Co-Ops for Speed
          School at Kentucky Farm Bureau Mutual Insurance Company. Tyler currently works at
          Opus Controls and the Speed School IT Help Desk. Tyler is currently interviewing for
          jobs after school and hopes to accept an offer soon!

        </div>
      </div>
    </div>
  </div>
</div>
