h1 {
  text-align: center;
  font-family: "Andale Mono";
}

h2 {
  font-family: Bilbo, cursive;
}

.regH{
  font-family: Bilbo, cursive;
  font-size: 6rem;
}

p{
  text-align: justify;
  margin-left: 7px;
  margin-right: 7px;
}

@media(max-width: 767px) {
  .row-eq-height {
    display: inline-block;
    margin: 0;
  }
}

.table {
  display: table;
  height: 250px;
  vertical-align: center;
}

.row-eq-height {
  display: table-row;
}

.row-eq-height2 {
  display: table-row;
}

img
{
  height:75%;
  width:80%;
}

.col-sm-2 {
  float: none;
  display: table-cell;
}

.indented {
  margin-left: 6%;
  margin-right: 6%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10px;
}
