h2 {
  font-family: Bilbo, cursive;
}

.regH {
  text-align: center;
  font-family: Bilbo, cursive;
  font-size: 6rem;
}

.row-eq-height {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
}

.mat-card-header {
  width: 100%;
  text-align: center;
  flex: 0 1 auto;
}

.card-img-top {
  flex: 0 1 auto;
  width: 80%;
  height: auto;
  margin-bottom: 30px;
  margin-left: 10%;
}

.card-body {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  text-align: justify;

  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
