div {
  text-align: center;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-size: 1em;
  font-family: "Andale Mono";
}

.mat-raised-button {
  background-color: #132657;
  color: #D9BB6E;
}

.mat-raised-button:hover {
  background-color: #720E31;
}

.save {
  background: #132657;
  color: #D9BB6E;
  height: 2.6em;
  margin: 3px;
  width: 5em;
}

.save:hover {
  background-color: #720E31;
}
