.regP {
  text-align: justify;
  font-size: 2.25rem;
  margin-bottom: 75px;
}

.card {
  display: flex;
  flex-flow: column;
  margin: 6%;
  height: 100%;
}

.card-img-top {
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  height: 50%;
  margin-bottom: 20px;
}

.card-img-top > svg {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.card-body {
  padding: 1.25rem;
  flex: 0 1 auto;
}

.btn {
  width: 95%;
  margin-bottom: 0;
}

.regbtn {
  background-color: #132657;
  border: none;
  color: #D9BB6E;
}

.regbtn:hover {
  background-color: #720E31;
}
