




<h1 mat-dialog-title>Hello data.</h1>
<div mat-dialog-content>
  <p>restrictions?</p>

  <mat-form-field>

      <label>Going? </label>

    <label *ngFor="let guest of data.house.guests">
      <mat-checkbox>Yes or not?</mat-checkbox>
      <br>
      <label class="last-name">Last Name: {{guest.lname}}</label>

    </label>

    <label *ngFor="let dietary of data.dietary">Dietary Restrictions
    <mat-checkbox>{{dietary.description}}</mat-checkbox>
    </label>
      <br>
    <br>

    <br>

  </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button type="button" (click)="put_house()">Ok</button>
</div>






