




<h1 mat-dialog-title>Hello data.</h1>
<div mat-dialog-content>
  <p>restrictions?</p>

  <mat-form-field>

      <label>Going? </label>

    <label *ngFor="let guest of data.house.guests">
      <mat-checkbox>Yes or not?</mat-checkbox>
      <br>
      <label class="last-name">Last Name: {{guest.lname}}</label>

    </label>
<label>Dietary Restrictions</label>
    <label *ngFor="let dietary of data.dietary; let houseRestrictions of data.house.dietaryRestrictions; index as i" >
      <label *ngIf="dietary.alwaysShow == true || houseRestrictions.alwaysShow == true">
        <mat-checkbox checked="!isChecked[i].description = dietary.description"> {{dietary.description}}</mat-checkbox>
      </label>
    </label>
    <br>
    <br>

    <label>Song requests: </label>
    <form #formRef="ngForm">
      <div *ngFor="let word2 of words2; let x=index" class="col-sm-3">
        <div class="form-group">

          <input matinput type="text" [(ngModel)]="words2[x].songName" name="name{{x}}" class="form-control" #name="ngModel" required placeholder="Title" align="left"/>
          <input matinput type="text" [(ngModel)]="words2[x].artistName" name="name{{x}}" class="form-control" #name="ngModel" required placeholder="Artist" align="right"/>

          <!--<p [hidden]="words2[x].value">Field is required</p>
          {{formRef.form.name0}}-->
        </div>
        <br />
      </div>
      <button [disabled]="!formRef.form.valid" (click)="add()">Add input</button>
    </form>
    <br />
    <br />
    {{words2 | json}}

      <br>
    <br>

    <br>

  </mat-form-field>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button type="button" (click)="put_house()">Ok</button>
</div>






