/*h1 {
  font-size: 2em;
  text-align: center;
  font-family: "Andale Mono";
}

p {
  text-align: center;
  font-size: 1.2em;
  font-family: "Andale Mono";
}

form {
  text-align: center;
  font-family: "Andale Mono";
}

input {
  text-align: center;
}

.mat-raised-button {
  background-color: #132657;
  color: #D9BB6E;
}

.mat-raised-button:hover {
  background-color: #720E31;
}

.btn {
  background-color: #132657;
  color: #D9BB6E;
}

.regbtn:hover {
  background-color: #720E31;
}  */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}
