<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <h1>RSVP</h1>

  <br>

  <form name="dialog">
    <mat-form-field>
      <input matInput [(ngModel)] = "user" required placeholder="Whats your password?">
    </mat-form-field>

    <button ng-disabled="dialog.$invalid" mat-raised-button type="button" (click)="openDialog(user)" >Submit</button>
  </form>
  <br>

  <ul>
    <li>
      <button mat-raised-button type="button"  (click)="get_household()">Get /Households</button>
      <ul>
        <p>hello </p>
        <li *ngFor="let household1 of household | async">
          --householdId: {{household1.householdId}}
          --name: {{household1.name}}
          --address: {{household1.address}}
          --guestsRemaining: {{household1.guestsRemaining}}
          --hasSubmitted: {{household1.hasSubmitted}}
          --password: {{household1.passcode}}
        </li>
      </ul>
    </li>

  </ul>
</div>








   <!-- <mat-form-field>
      <input matInput [(ngModel)] = "user" placeholder="Whats your password?">
    </mat-form-field>
  <button mat-raised-button(click) ="openDialog()">Submit</button>



</div>!-->
