.row-eq-height {
  align-items: center;
  justify-content: center;
}

#submitPasscode {
  margin-bottom: 8px;
}

#spinner {
  margin-bottom: 5px;
}

#errorIcon {
  margin-bottom: 5px;
}

.mat-dialog-actions {
  bottom: 0;
}

.dietaryFillIn {
  margin-left: 10px;
  width: calc(100% - 26px);
  display: inline-block;
}

tr {
}

td {
  border-top: #CCCCCC solid 1px;
}

table {
  border-collapse: separate;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 13px 0 #CCCCCC;
}

th {
  height: 30px;
}

span > label {
  padding-right: 5px;
}

input {
  padding-left: 5px;
}

.shadowed {
  box-shadow: 0 0 2px 1px #CCCCCC;
}

@supports (-ms-ime-align:auto) {
  .shadowed {
    border: #CCCCCC solid 1px;
  }

  table {
    border: #CCCCCC solid 1px;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
  overflow-y: scroll;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto auto 50px;
  padding: 0 40px 40px;
  border: 1px solid #888;
  display: inline-block;
  text-align: left;
}

.dietContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.trashIcon {
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tableHeader {
  padding-left: 7px;
}

#song-table {
  width: 100%;
}

#song-table > table {
  width: 100%;
}

.otherError {
  display: block;
  margin-left: 0;
  margin-bottom: 10px;
  margin-top: -5px;
  color: #721c24;
  background-color: #f8d7da;
  text-align: center;
  border-collapse: separate;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.alert-success {
  width: 262px;
  margin-left: -40px;
  border-collapse: separate;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
