<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-015bw.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-002.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-008.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-052.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-024.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-031.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-043.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-044.jpg">
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-058.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-067.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-071.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-077.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-079.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-088.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-089.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-090.jpg">
      <img class="img-responsive" src="../../assets/websizephotos/Engagement_Session/AultEngagements-100.jpg">

    </div>
  </div>
</div>
