#head{
  text-align: center;
}

h1, h2, h3 {
  font-family: Bilbo, cursive;
}

.btn {
  color: white;
}

.container-fluid{
  background-color: #132657;
}

.navbar-inverse .navbar-nav>li>a {
  color: #D9BB6E;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  color: #D9BB6E;
}

.navbar-brand:hover, li:hover{
  background-color: #720E31;
}

.regbtn:hover {
  background-color: #720E31;
}

.page-header {
  text-align:center;
}

.navbar {
  border-radius: 0;
  border: none;
}

#navbar-brand{
  font-size: 18px;
  vertical-align: middle;
}

.btn-nav:hover{
  background-color: #132657;
}

.btn-nav{
  padding-left: 15px;
}

nav ul li{
  text-align: left;
}

.navbar-inverse {
  background-color: #132657;
}

.navbar-toggler {
  display: block;
  background-color: transparent;
  border: none;
  margin-top: 3px;
  cursor: pointer;
  outline:none;

  transition-duration: 0.3s;
  transition-property: transform;
}

button[aria-expanded="true"] {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsed {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

@media (min-width: 990px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  nav ul {
    padding:0;
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    list-style-type:none;
    width:100%;
    text-align: center;
  }
  nav ul li a {
    text-decoration:none;
    width: 100%;
    height: 100%;
  }

  .container-fluid{
    padding: 0;
  }

  .btn-nav{
    padding:0;
  }
}

@media(min-width: 768px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .navbar-toggler {
    display: none;
  }
}
