#head{
  text-align: center;
}

h1, h2, h3 {
  font-family: Bilbo, cursive;
}

.btn {
  color: white;
}

.container-fluid{
  background-color: #132657;
}

.navbar-inverse .navbar-nav>li>a {
  color: #D9BB6E;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  color: #D9BB6E;
}

.navbar-brand:hover, li:hover{
  background-color: #720E31;
}

.page-header {
  text-align:center;
}
