h1, h2, h3 {
  margin: 0;
}

nav ul li{
  text-align: left;
}

.page-header {
  text-align:center;
  margin: 0;
  padding: 30px 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #D9BB6E;
}

.navbar {
  border-radius: 0;
  border: none;
  margin-top: -1px;
}

.navbar-inverse {
  background-color: #132657;
  margin-bottom: 0;
}

.navbar-brand:hover, li:hover, .regbtn:hover {
  background-color: #720E31;
}

#navbar-brand {
  font-size: 18px;
  vertical-align: middle;
}

.regbtn {
  background-color: #D9BB6E;
}

.btn-nav{
  padding-left: 15px;
}

.btn-nav:hover {
  background-color: #132657;
}

.navbar-toggler {
  display: block;
  background-color: transparent;
  border: none;
  margin-top: 3px;
  cursor: pointer;
  outline:none;

  transition-duration: 0.3s;
  transition-property: transform;
}

button[aria-expanded="true"] {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsed {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #D9BB6E;
  margin: 6px 0;
  transition: 0.4s;
}

@media (min-width: 868px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  nav ul {
    padding:0;
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    list-style-type:none;
    width:100%;
    text-align: center;
  }
  nav ul li a {
    text-decoration:none;
    width: 100%;
    height: 100%;
  }

  .container-fluid{
    padding: 0;
  }

  .btn-nav{
    padding:0;
  }
}

@media(min-width: 768px){
  .navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .navbar-toggler {
    display: none;
  }

  .page-header h1:before {
    background-image: url("../assets/gold-leaf.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    content: "";
    margin-top: -5px;
    margin-left: -75px;
    position: absolute;
    transform: scaleX(-1);
  }

  .page-header h1:after {
    background-image: url("../assets/gold-leaf.png");
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    content: "";
    margin-top: -5px;
    margin-left: -25px;
    position: absolute;
  }
}

.btn-disabled {
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-disabled:hover {
  background-color: #cccccc;
}

.disabledd {
  background-color: transparent !important;
}

@media (max-width: 767px){
  #Registry[tooltip]::before {
    left: 14%;
  }

  #Registry[tooltip]::after {
    left: 14%;
  }
}
