table {
  vertical-align: middle;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 2rem;
}

h1, h2, h3 {
  color: #D9BB6E;
}

h2 {
  font-size: 7rem;
  font-size: 5.8vw;
}

h2, th {
  text-decoration:underline;
}

p, td, th {
  font-size: 2rem;
  font-size: 1.6vw;
  text-align: center;
}

td {
  min-width: 15px;
}

#content {
  background-color: #720E31;
  color: #D9BB6E;
}

.content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 7%;
}

img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#img1-col > img {
  margin-left: 0;
}

#img2-col > img {
  margin-right: 0;
}

.row-eq-height {
  display: table;
  margin: 10px;

  height: expression((100vw * .425));
  /* Firefox */
  height: -moz-calc((100vw * .425));
  /* WebKit */
  height: -webkit-calc((100vw * .425));
  /* Opera */
  height: -o-calc((100vw * .425));
  height: calc((100vw * .425));

  width: expression(100% - 20px);
  /* Firefox */
  width: -moz-calc(100% - 20px);
  /* WebKit */
  width: -webkit-calc(100% - 20px);
  /* Opera */
  width: -o-calc(100% - 20px);
  width: calc(100% - 20px);
}

.row-eq-height > .col-sm-4 {
  float: none;
  display: table-cell;
}

/*This is where hamburger menu displays*/
@media(max-width: 767px){
  .row-eq-height {
    height: expression((100vw * .7));
    /* Firefox */
    height: -moz-calc((100vw * .7));
    /* WebKit */
    height: -webkit-calc((100vw * .7));
    /* Opera */
    height: -o-calc((100vw * .7));
    height: calc((100vw * .7));
  }

  p, td, th {
    font-size: 1.3rem;
    font-size: 3vw;
  }

  h2 {
    font-size: 3.5rem;
    font-size: 8vw;
  }

  .content-bottom {
    margin-bottom: 0;
  }

  .image-col {
    display: none !important;
  }
}
