table {
  vertical-align: middle;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 2rem;
}

h1, h2, h3 {
  font-family: Bilbo, cursive;
  color: #D9BB6E;
}

h2{
  font-size: 7rem;
  font-size: 5.8vw;
  text-decoration: underline;
  text-decoration-style: solid;
}

#content {
  background-color: #720E31;
  border-color: #D9BB6E;
}

#content p{
  color: #D9BB6E;
  vertical-align: center;
}

.content-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 7%;
}

p, td, th{
  font-size: 2rem;
  font-size: 1.6vw;
}

td, th{
  align-content: center;
  text-align: center;
  color: #D9BB6E;
}

th{
  text-decoration:underline;
}

tbody{
  vertical-align: middle;
}

.row-eq-height {
  margin-top: 0;
  display: table;
}

.row-eq-height > .col-sm-4 {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.img-home {
  display: block;
  max-width: 100%;
  height: auto;
}

#img1-col, #img2-col {
  width: 24%;
}

#content {
  width: 33%;
}

.row-eq-height {
  vertical-align: center;
  min-height: calc((100vw * .3639));
}

.col-sm-4 {
  margin: 0;
  padding: 0;
}

.image-col {
  vertical-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.row-eq-height {
  width: 100%;
}

#img1-col > img {
  margin-left: 0;
}

#img2-col > img {
  margin-right: 0;
}

/*This is where hamburger menu displays*/
@media(max-width: 767px){
  .row-eq-height {
    background-color: #720E31;
    min-height: calc((100vw * .6));;
  }

  p, td, th {
    font-size: 1.3rem;
    font-size: 3vw;
  }

  h2 {
    font-size: 3.5rem;
    font-size: 8vw;
  }

  .content-bottom {
    margin-bottom: 0;
  }

  .image-col {
    display: none !important;
  }
}
